<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tính hình chữ nhật</title>
</head>
<body>
	<form action="/rect/calc" method="post">
		Dài: <input type="text" name="length"> <br>
		<br> 
		Rộng: <input type="text" name="width"> <br>
		<br>
		<button type="submit">Tính</button>
	</form>
	<p th:if="${area != null}">
		Diện tích:<span th:text="${length}"></span>*<span th:text="${width}"></span>=<span th:text="${area}"></span><br> 
		Chu vi: <span th:text="${length}"></span>+<span th:text="${width}"></span>*2=<span th:text="${perimeter}"></span>
	</p>
</body>
</html>
